body {
    font-family: 'Times New Roman', serif;
    padding: 40px;
    background: #9b9b9b;
}

article {
    border: 2px solid #333;
    padding: 40px;
    max-width: 700px;
    margin: auto;
    background: #ffffff;
}

header {
    text-align: center;
    margin-top: -15px;
}

h1 {
    text-decoration: underline;
    font-size: 1.8rem;
}

p {
    text-align: justify;
    line-height: 1.8;
    font-size: 1.1rem;
}

.dado-preenchido {
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    margin-top: 60px;
    text-align: center;
}

.linha {
    border-top: 1px solid #000;
    width: 250px;
    margin: 10px auto;
}

img {
    max-width: 250px;
}

h4 {
    text-align: center;
}

.ass {
    text-align: center;
}