:root {
    --azul: #0b3d91;
    --azul-claro: #e6eef8;
    --cinza: #6b6b6b;
    --borda: #dcdcdc;
    --erro: #d93025;
    --sucesso: #188038;
}

/* BASE */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--azul-claro);
}

/* CONTAINER */
.container {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* CABEÇALHO */
header {
    border-bottom: 2px solid var(--azul);
    margin-bottom: 20px;
}

header h1 {
    font-size: 22px;
    color: var(--azul);
}

/* GRID */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* CAMPOS */
.campo {
    display: flex;
    flex-direction: column;
}

.campo.full {
    grid-column: span 2;
}

label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #333;
}

/* INPUTS */
input,
select {
    padding: 10px;
    border: 1px solid var(--borda);
    border-radius: 6px;
    font-size: 14px;
    transition: 0.2s;
}

.modal :focus{
    background-color: var(--azul);
}

/* FOCO */
input:focus,
select:focus {
    border-color: var(--azul);
    outline: none;
}


/* ERRO */
.input-erro {
    border-color: var(--erro);
}

.erro {
    font-size: 12px;
    color: var(--erro);
    margin-top: 3px;
}

/* BOTÃO */
button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: var(--azul);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #062c6b;
}